/*-------------------------------------*/
/*-----------------BOX-1---------------*/
/*-------------------------------------*/
&.blog_page {
  .switcher {
    position: fixed;
    top:0;
    left:0;
    z-index: 5555;
    p {
      margin: 5px auto;
      text-decoration: underline;
      cursor: pointer;
      &.active {
        color: red;
      }
    }
  }
  .content {
    //.box-1 {
    //  height: 100vh;
    //  position: fixed;
    //  top: 0;
    //  right: 0;
    //  bottom: 0;
    //  left: 0;
    //  .bg {
    //    //background: url(../img/cases/avon_1.png) no-repeat;
    //    //background-size: cover;
    //    //background-attachment: fixed;
    //    height: 100%;
    //    width: 100%;
    //    position: absolute;
    //    z-index: 4;
    //    overflow: hidden;
    //    img {
    //      height: 100%;
    //      width: auto;
    //    }
    //  }
    //  .text{
    //    padding-top: 36vh;
    //    z-index: 52;
    //    width: 100%;
    //    margin: 0 auto;
    //    text-align: center;
    //    text-transform: uppercase;
    //    h1 {
    //      font-size: 95px;
    //      width: 100%;
    //      font-family: "SegoeUIBold", sans-serif;
    //      color: rgb(255, 255, 255);
    //      line-height: 1.2;
    //      text-align: center;
    //      margin-bottom: 30px;
    //    }
    //  }
    //
    //}
    /*-------------------------------------*/
    /*-----------------BOX-2---------------*/
    /*-------------------------------------*/
    .box-2 {
      background: #fff;
      position: relative;
      margin-top: 0;
      padding: 0;
      padding-top: 75px;
      .wrapper {
        padding-bottom: 70px;
        font-size: 0;

        .left_side {
          display: inline-block;
          vertical-align: top;
          width: 890px;
          margin-right: 20px;
          > .heading {
            transition: all .3s ease;
            h2{
              @extend .bigFont50;

            }
            p {
              @extend .regFont18;
              height: 6.75em;
              overflow: hidden;
              margin-bottom: 40px;
            }
          }

          .flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item-flex {
              display: inline-block;
              width:270px;
              border-top:1px solid #747474;
              padding-top: 20px;
              transition: all .3s ease;
              a {
                h4 {
                  @extend .midFont22;
                  margin-bottom: 10px;
                  line-height: 1;
                  height: 3em;
                  overflow-y: hidden;
                  transition: all .3s ease;

                }
                .img {
                  width: 100%;
                  height:190px;
                  overflow: hidden;
                  margin-bottom: 10px;
                  img {
                    min-height: 100%;
                  }
                }
                p {
                  @extend .regFont18;
                  margin-bottom: 40px;
                  transition: all .3s ease;
                  height: 4.05em;
                  overflow-y: hidden;
                }
              }
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
        .right_side {
          display: inline-block;
          vertical-align: top;
          width: 270px;
          margin-left: 20px;
          padding-top: 18px;
          h4 {
            @extend .midFont22;
            line-height: .8;
            margin-bottom: 20px;
          }
          ul {
            margin:13px 0;
            li {
              position: relative;
              &:before {
                content: "";
                position: absolute;
                bottom: -1px;
                left:0;
                width:0;
                height: 1px;
                background-color: black;
                transition: width .5s linear;
              }
              &:hover {
                &:before {
                  width: 100%;
                }
              }
              a {
                @extend .regFont18;
                display: inline-block;
                width: 100%;
                height: 100%;
              }
              @extend .regFont18;
              padding: 8px 0;
              border-bottom: 1px solid rgba(32,35,39,.1);
              transition: all .3s ease;
            }
          }
        }
      }
    }

  }
}