footer {
  position: relative;
  background: #fff;
  .footer {
    padding: 55px 0;
    >div{
      display: inline-block;
      vertical-align: top;
      width: 195px;
      ul {
        li {
          a {
            //font-size: 14px;
            //color: rgb(0, 0, 0);
            //line-height: 1.571;
            text-align: left;
            transition: all .2s linear;
            @extend .regFont18;
          }
          &:first-child {
            font-family: "Segoe UI Black";
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
        }
      }
      &.visit {
        p {
          margin: 0;
        }
      }
      &.follow {
        padding-left: 50px;
        box-sizing: border-box;
      }
      &.logo {
        font-size: 10.698px;
        font-family: "Segoe UI";
        color: rgb(0, 0, 0);
        line-height: 2.056;
        text-align: left;
        transform: translateX(330px);
        .img_logo{
          width: 75px;
          overflow: hidden;
          display: block;
          margin-bottom: 4px;
        }
      }
      &.icons {
        display: none;
      }
      &.top {
        text-align: right;
        width: 195px;
        float: right;
        .wrap{
          a{
            display: inline-block;
            width: 69px;
            height: 70px;
            background: url(../img/sprite.png);
            background-size: 240%;
            background-position: -70px -76px;
            text-align: center;
            transition: none;
            &:hover{
              background-position: 1px -77px;

            }
          }
        }
      }
      .copy{
        display: none;
      }
    }
  }
}