@media only screen and (min-width : 1600px) {

}
@media only screen and (min-width : 1024px) and (max-width : 1199px) {
  .main-wrapper {
    &.case {
      overflow: hidden;
      .content {
        .case_wrapper {
          .left_case_wrapper {
            width: 72.5%;
            margin-right: 4%;
            .box-2 {
              width: 100%;
            }
          }
          .right_case_wrapper {
            width: 23.5%;

          }
        }
      }
    }
  }
}
@media only screen and (min-width : 940px) and (max-width : 1023px) {
  .main-wrapper {
    &.case {
      overflow: hidden;
      .content {
        .case_wrapper {
          .left_case_wrapper {
            width: 72.5%;
            margin-right: 4%;
            .box-2 {
              width: 100%;
            }
          }
          .right_case_wrapper {
            width: 23.5%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width : 724px) and (max-width : 939px) {
  .main-wrapper {
    &.case {
      overflow: hidden;
      .content {
        .case_wrapper {
          .wrapper {
            .left_case_wrapper {
              width: 100%;
              .box-2 {
                width: 100%;
                .slider {
                  margin-top: 30px;
                  margin-bottom: 30px;
                }
              }
            }
            .right_case_wrapper {
              aside {
                display: none;
              }
            }
            &.passive {
              .left_case_wrapper {
                margin-top: 0;
                width: 100%;
                .box-4 {
                  width: 100%;

                }
              }
            }
          }
          .box-3 {
            &.gallery {
              .gallery_full {
                display: none;
                &.mobile {
                  display: inline-block;
                }
              }
            }
          }
          .siblingsCase {
            p {

            }
            .nextCases {
              flex-wrap: wrap;
              .one_case {
                width: 45%;
                a {
                  //width: 45%;
                  h4 {

                  }
                  .img_b {
                    img {

                    }
                  }
                  p {

                  }
                }

              }
            }

          }
        }
      }

      .right_list.mobile.block  {
        width:270px;
      }

    }
  }
}
@media only screen and (min-width : 480px) and (max-width : 723px) {
  .main-wrapper {
    &.case {
      overflow: hidden;
      .content {
        .case_wrapper {
          .wrapper {
            .left_case_wrapper {
              width: 100%;
              .big_img.big_video {
                height: 300px;
              }
              .box-2 {
                width: 100%;
                h4 {
                  font-size: 30px;
                }
                .slider {
                  margin-top: 30px;
                  margin-bottom: 30px;
                  width: 100vw;
                  margin-left: -3%;
                }
              }

            }
            .right_case_wrapper {
              width: 100%;

              aside{
                display: none;
              }
              .box-5 {
                padding-bottom: 40px;
              }
            }
            &.passive {
              .left_case_wrapper {
                margin-top: 0;
                .box-4 {
                  width: 100%;

                }
              }
            }
          }

          .box-3 {
            &.gallery {
              .gallery_full {
                display: none;
                &.mobile {
                  display: inline-block;
                }
              }
            }
          }
          .siblingsCase {
            p {

            }
            .nextCases {
              flex-wrap: wrap;
              .one_case {
                width: 100%;
                a {
                  //width: 45%;
                  h4 {

                  }
                  .img_b {
                    img {

                    }
                  }
                  p {

                  }
                }

              }
            }

          }
        }
      }
      .right_list.mobile.block  {
        width:270px;
      }
    }
  }
}
@media only all and (max-width : 479px) {
  .main-wrapper {
    &.case {
      overflow: hidden;
      .content {
        .case_wrapper {
          .wrapper {
            .left_case_wrapper {
              width: 100%;
              .big_img.big_video {
                height: 200px;
              }
              .box-2 {
                h4 {
                  font-size: 30px;
                }
                width: 100%;
                .slider {
                  width:106%;
                  margin-left: -3%;
                }
              }
            }
            .right_case_wrapper {
              width: 100%;
              aside{
                display: none;
              }
              .box-5 {
                padding-bottom: 40px;

              }
            }
            &.passive {
              .left_case_wrapper {
                margin-top: 0;
                .box-4 {
                  width: 100%;
                  .wrap {
                    .right_list {
                      .lists {
                        ul {
                          li {
                            h2 {

                            }
                            h5 {

                            }
                            p {

                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .box-3 {
            &.gallery {
              .gallery_full {
                display: none;
                &.mobile {
                  display: inline-block;
                }
              }
            }
          }
          .siblingsCase {
           > p {
             font-size: 35px;
             margin-bottom: 10px;
            }
            .nextCases {
              flex-wrap: wrap;
              .one_case {
                width: 100%;
                margin: 20px 0;
                a {
                  //width: 45%;
                  h4 {

                  }
                  .img_b {
                    img {

                    }
                  }
                  p {

                  }
                }

              }
            }

          }
        }
      }
      .right_list.mobile.block  {
        //width:270px;
      }
    }
  }
}