
/*-------------------------------------*/
/*-----------------BOX-1---------------*/
/*-------------------------------------*/

.projects .content .box-1{
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projects .content .box-1 .bg{
  background: url(../img/box-1.png) no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
}


.projects .content .box-1 .text{
  padding-top: 35vh;
  z-index: 52;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.projects .content .box-1 .text h1 {
  font-size: 55px;
  width: 100%;
  font-family: "Segoe UI Bold";
  color: rgb(255, 255, 255);
  line-height: 70px;
  text-align: center;
  margin-bottom: 30px;
}

/*-------------------------------------*/
/*-----------------BOX-2---------------*/
/*-------------------------------------*/
.projects .content .box-2 {
  padding-bottom: 0px;
  //padding-top: 130px;
  margin-top: 100vh;
  position: relative;
  padding-top: 65px;
  margin-bottom: -65px;
}
.projects .content .box-2 .bg_white{
  padding-top: 65px;
  background: #fff;
}
.projects .content .box-2 .wrapper{
  //padding-top: 0;
}
.projects .content .box-2 .header {

}
.projects .content .box-2 .header h2{
  font-size: 56px;
  font-family: "Segoe UI Light";
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 1.071;
  text-align: left;
  //margin-top: 65px;
  margin-bottom: 40px;
}
.projects .content .box-2 .cases {
  padding-bottom: 30px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects .content .box-2 .cases .item {
  width: 270px;
  /*height: 224px;*/
  display: inline-block;
  position: relative;
  vertical-align: top;
  //margin-right: 25px;
  margin-bottom: 44px;
  cursor: pointer;
  overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left:0;
      bottom:-4px;
      width: 0;
      height: 1px;
      background: #000;
      transition: all .5s ease-in-out;
    }
    &:hover {
      &:after {
        width: 100%;
      }
  }



}
.projects .content .box-2 .cases .item:nth-child(4n) {
  margin-right: 0px;
}
.projects .content .box-2 .cases .item .img {
  width: 270px;
  height: 190px;
  overflow: hidden;
  position: relative;
  .effect {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #000000;
    opacity:0;
    z-index: 10;
    transition: all .5s ease-in-out;

  }
}
.projects .content .box-2 .cases .item .img img{
  width: 100%;
}
.projects .content .box-2 .cases .item .text {
  position: relative;
  width: 100%;
  font-size: 22px;
  font-family: "Segoe UI Bold";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  margin-top: 13px;

}

/*-------------------------------------*/
/*-----------------BOX-3---------------*/
/*-------------------------------------*/
.projects .content .box-3 {
  //background: #fff;
  position: relative;
  padding-top: 65px;
}
.projects .content .box-3 .bg_white{
  padding-top: 65px;
  background: #fff;
  padding-bottom: 100px;

}
.projects .content .box-3 .header {

}
.projects .content .box-3 .header h2{
  font-size: 56px;
  font-family: "Segoe UI Light";
  font-weight: normal;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
}
.projects .content .box-3 .clientsTable {
  width: 1240px;
  display: flex;
  justify-content: space-between;
}
.projects .content .box-3 .clientsTable .clientRow {
  width: 270px;
  display: inline-block;
  vertical-align: top;
  margin-right: 28px;
}
.projects .content .box-3 .clientsTable .clientRow:nth-child(4n) {
  margin-right: 0px;
}
.projects .content .box-3 .clientsTable .clientRow ul{
  width: 100%;
  border-top: 1px solid rgba(32, 35, 39, 0.1);
}
.projects .content .box-3 .clientsTable .clientRow ul li{
  width: 100%;
  border-bottom: 1px solid rgba(32, 35, 39, 0.1);
  padding-left: 10px;
  position: relative;
  transition: opacity .5s linear;


  .logotype {
    display: table-cell;
    position: absolute;
    //left:10px;
    right:20px;
    top: 0;
    width:60px;
    height: 40px;
    line-height:2.2;
    text-align: center;
    img{
      vertical-align: middle;
      width: initial;
      max-width:60px;
      max-height: 30px;
      display: initial !important;
    }
  }

}
.projects .content .box-3 .clientsTable .clientRow ul li:first-child {
  margin-top: 5px;
}
.projects .content .box-3 .clientsTable .clientRow ul li a{
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 15px;
  font-family: "Segoe UI";
  color: rgb(0, 0, 0);
  line-height: 2.65;
  text-align: left;
  transition: opacity .2s linear;
  cursor: default;
}
.projects .content .box-3 .clientsTable .clientRow ul li.more:after {
  content: url("../img/arrow-right.png");
  position: absolute;
  right:0;
  top:50%;
  margin-top: -9.5px;

}
.projects .content .box-3 .clientsTable .clientRow ul li.more:before {
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width:0;
  height: 1px;
  background-color: black;
  transition: width .5s linear;

}
.projects .content .box-3 .clientsTable .clientRow ul li.more:hover {
  a {
    opacity: 0.4;
    cursor: pointer;
  }
  &:before {
  width: 100%;
  }
}