/*-------------------------------------*/
/*-----------------BOX-1---------------*/
/*-------------------------------------*/
&.uslugi_page {
  .content {
    //.box-1 {
    //  height: 100vh;
    //  position: fixed;
    //  top: 0;
    //  right: 0;
    //  bottom: 0;
    //  left: 0;
    //  .bg {
    //    height: 100%;
    //    width: 100%;
    //    position: absolute;
    //    //background-attachment: fixed;
    //    z-index: 4;
    //    overflow: hidden;
    //    img {
    //      height: 100%;
    //      width: auto;
    //    }
    //  }
    //  .text {
    //    padding-top: 25vh;
    //    z-index: 52;
    //    width: 100%;
    //    margin: 0 auto;
    //    text-align: center;
    //    text-transform: uppercase;
    //    h1 {
    //      font-size: 95px;
    //      width: 100%;
    //      font-family: "SegoeUIBold", sans-serif;
    //      color: rgb(255, 255, 255);
    //      line-height: 1.2;
    //      text-align: center;
    //      margin-bottom: 30px;
    //    }
    //  }
    //}
    /*-------------------------------------*/
    /*-----------------BOX-2---------------*/
    /*-------------------------------------*/
    .box-2 {
      position: relative;
      margin-top: 100vh;
      padding-top: 65px;
      //padding-bottom: 50px;
      margin-bottom: -65px;
      .bg_white{
        background: #fff;
        padding-top: 65px;
        margin-bottom: -65px;
      }
      .wrapper {
        //padding-bottom: 100px;
        width: 1240px;
        h2{
          @extend .bigFont50;
        }
        .flex {
          //display: flex;
          //justify-content: flex-end;
          margin-bottom: 70px;
          .cl {
            position: relative;
            border-top:1px solid black;
            width:270px;
            //height: 950px;
            margin: 0 20px;

            h5 {
              @extend .midFont22;
              padding-top: 20px;
              max-width: 150px;
              margin-bottom: 20px;
            }
            p {
              height: 30em;
              @extend .regFont18;
            }
            ul {
              bottom:0;
              left:0;
            }
          }
        }
        .columns {
          ul {
            width:270px;
            //margin: 0 20px;
            li {
              border-top: 1px solid #747474;
              @extend .regFont18;
              padding: 8px 0;
              &:last-child {
                border-bottom: 1px solid #747474;

              }
            }
          }
        }

        .paggs_buts {
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 30px;
          padding-bottom: 65px;
          //background: #fff;
          a{
            display: inline-block;
            margin-bottom: 75px;
            //background: #fff;
            position: relative;
            width:270px;
            overflow: hidden;
            font-size: $regFont18;
            font-family: "SegoeUIBold", sans-serif;
            color: #747474;
            transition: all .2s ease;
            hr {
              margin-top: 5px;
            }
            &.prev {
              text-align: left;
              float: left;
            }
            &.next {
              text-align: right;
              float: right;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    .box-3 {
      //background: #fff;
      position: relative;
      overflow: hidden;
      padding-top: 65px;
      margin-bottom: -65px;
      .bg_white{
        background: #fff;
        padding-top: 65px;
      }
      .wrapper {
        .left-side {
          max-width: 590px;
          .top-text {
            h2 {
              @extend .bigFont50;
            }
            p {
              margin-bottom: 70px;
              display: inline-block;
              @extend .regFont18;
            }
          }
          .image.mobile {
            width:150%;
            height: 250px;
            background: url("../img/uslugi_2.png") no-repeat;
            background-size: contain;
            background-position: left center;
          }
          .slider {
            h5 {
              margin-bottom: 18px;
              @extend .midFont22;
            }
            p {
              display: inline-block;
              @extend .regFont18;
            }
          }
          .paggs_buts {
            margin-top: 30px;
            a{
              display: inline-block;
              margin-bottom: 75px;
              width:270px;
              overflow: hidden;
              @extend .someButton;
              transition: all .2s ease;
              position: relative;
              hr {
                margin-top: 5px;
              }
              &.prev {
                text-align: left;
                float: left;
              }
              &.next {
                text-align: right;
                float: right;
              }
              &:hover {
                opacity: 0.5;

              }
            }
          }
        }
        .right-side {
          position: absolute;
          width: 900px;
          height: 450px;
          top: 140px;
          right: calc(50% - 920px);
          .image {
            width:100%;
            height:100%;
            background: url("../img/uslugi_2.png") no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .box-4 {
      //background: #fff;
      position: relative;
      padding-top: 65px;
      .bg_white{
        background: #fff;
        padding-top: 65px;
        //margin-bottom: -65px;
      }
      .wrapper {
        h2 {
          @extend .bigFont50;
        }
        .experts.flex {
          padding-bottom: 50px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .fl1 {
            max-width: 560px;
            h4 {
              margin-bottom: 18px;
              @extend .midFont22;

            }
            p {
              margin-bottom: 68px;
              @extend .regFont18;
            }
          }
        }
      }
    }
  }
}