/*-------------------------------------*/
/*-----------------BOX-1---------------*/
/*-------------------------------------*/
.uslugi_page {
  .content {
    .box-1 {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .bg {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 4;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
        }
      }
      .text {
        padding-top: 35vh;
        z-index: 52;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        h1 {
          font-size: 55px;
          width: 100%;
          font-family: "Segoe UI Bold";
          color: rgb(255, 255, 255);
          line-height: 70px;
          text-align: center;
          margin-bottom: 30px;
        }
      }
    }
    /*-------------------------------------*/
    /*-----------------BOX-2---------------*/
    /*-------------------------------------*/
    .box-2 {
      background: #fff;
      position: relative;
      margin-top: 100vh;
      padding-top: 65px;
      //padding-bottom: 50px;
      .wrapper {
        //padding-bottom: 100px;
        width: 1240px;
        h2{
          margin-bottom: 35px;
          margin-left: 20px;
          font-size: 55px;
          font-family: "Segoe UI Light";
          color: rgb(0, 0, 0);
          line-height: 1.09;
        }
        .flex {
          //display: flex;
          //justify-content: flex-end;
          margin-bottom: 70px;
          .cl {
            position: relative;
            border-top:1px solid black;
            width:270px;
            height: 950px;
            margin: 0 20px;

            h5 {
              padding-top: 20px;
              max-width: 185px;
              font-size: 22px;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              line-height: 1.2;
              margin-bottom: 20px;
            }
            p {
              font-size: 15px;
              font-family: "Segoe UI";
              color: rgb(0, 0, 0);
              line-height: 1.5;
            }
            ul {
              position: absolute;
              bottom:0;
              left:0;
            }
           // &.video {
           //   p {
           //     max-width:225px;
           //   }
           //
           // }
           // &.web {
           //
           // }
           // &.graph {
           //   p {
           //     max-width:240px;
           //
           //   }
           // }
           // &.brend {
           //   p {
           //     width:205px;
           //
           //   }
           // }
           // &.market {
           //p {
           //  width:190px;
           //
           //}
           // }
          }
        }
        .columns {
          ul {
            width:270px;
            //margin: 0 20px;
            li {
              border-top: 1px solid rgba(32,35,39,.1);

              font-size: 15px;
              font-family: "Segoe UI";
              color: rgb(0, 0, 0);
              padding: 12px 0;
              &:last-child {
                border-bottom: 1px solid rgba(32,35,39,.1);

              }
            }
          }
        }

        .paggs_buts {
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 30px;
          padding-bottom: 110px;
          //background: #fff;
          a{
            display: inline-block;
            margin-bottom: 75px;
            //background: #fff;
            position: relative;
            width:270px;
            overflow: hidden;
            font-size: 15px;
            font-family: "Segoe UI Bold";
            color: rgb(0, 0, 0);
            transition: all .2s ease;
            hr {
              margin-top: 5px;
            }
            &.prev {
              text-align: left;
              float: left;
            }
            &.next {
              text-align: right;
              float: right;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    .box-3 {
      background: #fff;
      position: relative;
      overflow: hidden;
      .wrapper {
        .left-side {
          max-width: 590px;
          .top-text {
            h2 {
              padding-top: 65px;
              margin-bottom: 30px;
              font-size: 55px;
              font-family: "Segoe UI Light";
              color: rgb(0, 0, 0);
              line-height: 1.09;
            }
            p {
              margin-bottom: 70px;
              display: inline-block;
              font-size: 15px;
              font-family: "Segoe UI";
              color: rgb(0, 0, 0);
              line-height: 1.714;
            }
          }
          .slider {
            h5 {
              margin-bottom: 18px;
              font-size: 22px;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              text-transform: uppercase;
              line-height: 1;
              text-align: left;
            }
            p {
              display: inline-block;
              font-size: 15px;
              font-family: "Segoe UI";
              color: rgb(0, 0, 0);
              line-height: 1.714;

            }

          }
          .paggs_buts {
            margin-top: 30px;
            a{
              display: inline-block;
              margin-bottom: 75px;
              width:270px;
              font-size: 15px;
              overflow: hidden;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              transition: all .2s ease;
              position: relative;
              hr {
                margin-top: 5px;
              }
              &.prev {
                text-align: left;
                float: left;
              }
              &.next {
                text-align: right;
                float: right;
              }
              &:hover {
                opacity: 0.5;

              }
            }
          }
        }
        .right-side {
          position: absolute;
          width: 900px;
          height: 450px;
          top: 140px;
          right: calc(50% - 920px);
          .image {
            width:100%;
            height:100%;
            background: url("../img/uslugi_2.png") no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .box-4 {
      background: #fff;
      position: relative;
      .wrapper {
        h2 {
          padding-top: 65px;
          margin-bottom: 60px;
          font-size: 55px;
          font-family: "Segoe UI Light";
          color: rgb(0, 0, 0);
          line-height: 1.09;
          text-align: left;
        }
        .experts.flex {
          padding-bottom: 50px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .fl1 {
            max-width: 560px;
            h4 {
              margin-bottom: 18px;
              font-size: 22px;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              text-transform: uppercase;
              line-height: 1;
            }
            p {
              margin-bottom: 68px;
              font-size: 15px;
              font-family: "Segoe UI";
              color: rgb(0, 0, 0);
              line-height: 1.8;
            }
          }
        }
      }
    }
  }
}