/*-------------------------------------*/
/*-----------------BOX-1---------------*/
/*-------------------------------------*/
.uslugi_page {
  .content {
    .box-1 {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .bg {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 4;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
    /*-------------------------------------*/
    /*-----------------BOX-2---------------*/
    /*-------------------------------------*/
    .box-2 {
      background: #fff;
      position: relative;
      margin-top: 100vh;
      padding-top: 65px;
      .wrapper {
        //padding-bottom: 100px;
        h2{
          margin-bottom: 35px;
          font-size: 55px;
          font-family: "Segoe UI Light";
          color: rgb(0, 0, 0);
          line-height: 1.09;
        }
        .flex {
          display: flex;
          justify-content: space-between;
          margin-bottom: 70px;
          .cl {
            max-width:215px;
            h5 {
              border-top:1px solid black;
              padding-top: 20px;
              max-width: 185px;
              font-size: 22px;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              line-height: 1.2;
              margin-bottom: 20px;
            }
            p {
              font-size: 14px;
              font-family: "Segoe UI Light";
              color: rgb(0, 0, 0);
              line-height: 1.5;
            }
          }
        }
      }
    }
    .box-3 {
      background: #fff;
      position: relative;
      overflow: hidden;
      .wrapper {
        .left-side {
          max-width: 590px;
          .top-text {
            h2 {
              padding-top: 65px;
              margin-bottom: 30px;
              font-size: 55px;
              font-family: "Segoe UI Light";
              color: rgb(0, 0, 0);
              line-height: 1.09;
            }
            p {
              margin-bottom: 70px;
              display: inline-block;
              font-size: 14px;
              font-family: "Segoe UI Light";
              color: rgb(0, 0, 0);
              line-height: 1.714;
            }
          }
          .slider {
            h5 {
              margin-bottom: 18px;
              font-size: 22px;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              text-transform: uppercase;
              line-height: 1;
              text-align: left;
            }
            p {
              display: inline-block;
              font-size: 14px;
              font-family: "Segoe UI Light";
              color: rgb(0, 0, 0);
              line-height: 1.714;

            }
          }
          nav {
            margin-top: 33px;
            margin-bottom: 70px;
            div {
              display: inline-block;
              width: 270px;

              a {
                display: inline-block;
                width: 100%;
                font-size: 14px;
                font-family: "Segoe UI Bold";
                color: rgb(0, 0, 0);
                line-height: 1.714;
                transition: all 0.2s ease-in-out;
                &:hover {
                  opacity: 0.5;
                }
              }
              &.prev {
                a {
                  text-align: left;
                }
              }
              &.next {
                float: right;
                a {
                  text-align: right;
                }
              }
            }
          }
        }
        .right-side {
          position: absolute;
          width: 900px;
          height: 450px;
          top: 140px;
          right: calc(50% - 920px);
          .image {
            width:100%;
            height:100%;
            background: url("../img/uslugi_2.png") no-repeat;
          }
        }
      }
    }
    .box-4 {
      background: #fff;
      position: relative;
      .wrapper {
        h2 {
          padding-top: 65px;
          margin-bottom: 60px;
          font-size: 55px;
          font-family: "Segoe UI Light";
          color: rgb(0, 0, 0);
          line-height: 1.09;
          text-align: left;
        }
        .experts.flex {
          padding-bottom: 50px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .fl1 {
            max-width: 560px;
            h4 {
              margin-bottom: 18px;
              font-size: 22px;
              font-family: "Segoe UI Bold";
              color: rgb(0, 0, 0);
              text-transform: uppercase;
              line-height: 1;
            }
            p {
              margin-bottom: 68px;
              font-size: 14px;
              font-family: "Segoe UI Light";
              color: rgb(0, 0, 0);
              line-height: 1.8;
            }
          }
        }
      }
    }
  }
}