@import "bootstrap-grid-3.3.1.min";
@import "reset";
@import "font-awsome";
@import "fontello";
@import "fonts";
@import "owl";
@import "animate";
a {
  text-decoration: none;
}
b {
  font-family: 'Segoe UI Bold';
}
.hide {
  display: none;
}
.show {
  display: block;
}
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
/**/
/**/
/**/

/**/
/**/
/**/
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
}
main.content {
  padding: 0;
  background: #000;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 5;
  &.passive {
    z-index: 4;
  }
}
img {
  width: 100%;
}
@import "header";
/*FOOTER*/
@import "footer";
// MAIN_PAGE
@import "mainPage";
hr {
  border-color: black;
  margin: 0;
  //padding-top: 10px;
  border: none;
  border-top: 1px solid;
  margin-bottom: 5px;
}
hr.thin {
  border-color: rgba(32, 35, 39, 0.1);
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
}
// PROJECTS_PAGE
@import "projectsPage";

// USLUGI_PAGE
@import "uslugiPage";

// ABOUT_PAGE
@import "aboutPage";

// CASES_PAGE
@import "casePage";
