@import "bootstrap-grid-3.3.1.min";
@import "reset";
@import "font-awsome";
@import "fontello";
@import "fonts";
@import "owl";
@import "animate";
a {
  text-decoration: none;
}
b {
  font-family: 'Segoe UI Bold';
}
.hide {
  display: none;
}
.show {
  display: block;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
/**/
/**/
/**/

/**/
/**/
/**/
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  .main-wrapper {
    .mobile {
      display: none;
    }
  }
  main.content {
    section.box-1 {
      .bg {
        filter: brightness(0.55);
      }
    }
  }

}
main.content {
  padding: 0;
  background: #000;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 5;
  &.passive {
    z-index: 4;
  }
}
img {
  width: 100%;
}
@import "header";
/*FOOTER*/
@import "footer";
// MAIN_PAGE
@import "mainPage";
hr {
  border-color: black;
  margin: 0;
  //padding-top: 10px;
  border: none;
  border-top: 1px solid;
  margin-bottom: 5px;
}
hr.thin {
  border-color: rgba(32, 35, 39, 0.1);
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
}
// PROJECTS_PAGE
@import "projectsPage";

// USLUGI_PAGE
@import "uslugiPage";

// ABOUT_PAGE
@import "aboutPage";

// CASES_PAGE
@import "casePage";

// Blog_PAGE
@import "blogPage";
@import "blogInnerPage";

#hunter {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 100500;
  //overflow: auto;

  .bg {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.7);

  }
  .window {
    display: block;
    position: absolute;
    top:50%;
    left:calc(50% - 485px);
    width: 970px;
    height: auto;
    background-color: #000;
    .header {
      display: none;
      height: 76px;
      position: relative;
      top: 0;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.2);
      transition: all .3s ease-in-out;
      .left {
        float: left;
        margin-top: 12px;
        .img_logo {
          width: 67px;
          height: 54px;
          overflow: hidden;
        }
      }
      .right {
        float: right;
        margin-top: 25px;
        width: auto;
        .close {
          //position: absolute;
          //right:-40px;
          //top:-35px;
          width:30px;
          height:30px;
          overflow: hidden;
          cursor: pointer;
          svg {
            path {
              //fill: #000;
              //stroke: #000;
            }
          }
        }
      }
    }

    .inner_wrapper {
      position: relative;
      padding-bottom: 120px;

      .close {
        position: absolute;
        right:-40px;
        top:-35px;
        width:30px;
        height:30px;
        overflow: hidden;
        cursor: pointer;
        svg {
          path {
            //fill: #000;
            //stroke: #000;
          }
        }
      }
      h2 {
        margin-bottom: 30px;
        font-size: 56px;
        font-family: "Segoe UI Light";
        color: rgb(255, 255, 255);
        line-height: 1.071;
        text-align: left;
      }
      h4 {
        margin-bottom: 60px;
        font-size: 23px;
        font-family: "Segoe UI Black";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 2.043;
        text-align: left;

      }
      form {
        //display: none;

        width:100%;
        padding:50px;
        fieldset {
          //display: flex;
          //justify-content: space-between;
          //flex-wrap: nowrap;
          margin-bottom: 45px;
          p {
            margin-left: -20px;
            font-size: 15px;
            font-family: "Segoe UI Light";
            color: rgb(255, 255, 255);
            line-height: 1;
            text-align: left;
            margin-bottom: 20px;
          }
          label {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            font-family: "Segoe UI Light";
            color: rgb(255, 255, 255);
            line-height: 1.667;
            text-align: left;
            input,textarea {
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              background: none;
              outline:none;
            }
          }
          &.fields {
            width: 103%;
            label {
              width:33%;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              input {
                width:90%;
                display: block;
                font-size: 15px;
                font-family: "Segoe UI Light";
                color: rgb(255, 255, 255);
                line-height: 1.667;
                text-align: left;
                border: none;
                border-bottom: 1px solid rgba(255,255,255,0.7);
              }
            }
          }
          &.boxes {
            width: 106%;
            margin-left: 20px;
            font-size: 0;
            input {
              opacity: 0;
              position: absolute;
              vertical-align: middle;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              background: none;
            }
            label {
              position: relative;
              box-sizing: border-box;
              padding-left: 20px;
              width:25%;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 20px;
              text-align: left;
              &:before {
                content:'';
                position: absolute;
                display: inline-block;
                left:-20px;
                width: 20px;
                height:20px;
                border: 1px solid rgba(255,255,255,0.7);
              }
            }
              input:checked + label{
                  &:before {
                   background-image: url(../img/nice.png);
                    background-repeat: no-repeat;
                    background-position: center;
                  }
              }
          }
          &.text {
            label {
              width:100%;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              textarea {
                margin-top: 20px;
                display: block;
                width: 100%;
                height: 125px;
                font-size: 15px;
                font-family: "Segoe UI Light";
                color: rgb(255, 255, 255);
                line-height: 1.667;
                text-align: left;
              }
            }
          }
        }
        input[type='submit'] {
          padding: 0;
          width:250px;
          font-size: 15.252px;
          font-family: "Segoe UI Bold";
          color: rgb(255, 255, 255);
          line-height: 1.574;
          text-align: left;
          background: none;
          border:none;
          position: relative;
          outline:none;
          border-bottom: 1px solid rgba(255,255,255,0.7);

        }
      }
      .thx {
        display: none;
        width:100%;
        padding:50px;
        .butts {
          a {
            padding: 0;
            width:250px;
            font-size: 15.252px;
            font-family: "Segoe UI Bold";
            color: rgb(255, 255, 255);
            line-height: 1.574;
            text-align: left;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              left:0;
              bottom:-5px;
              height:1px;
              background-color: rgba(255,255,255,0.7);
              width:100%;
            }
            &.left {
              float: left;
            }
            &.right {
              float: right;
              text-align: right;
            }
          }
        }
      }
      .popFooter {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          position: absolute;
          bottom: 0;
          height: 110px;
          width: 100%;
           .wrapper {
             width: 90%;
             .left {
               display: inline-block;
               width: 40%;
               vertical-align: top;
               color: white;
               padding-top: 43px;
               font-size: 14px;
               font-family: "Segoe UI Light";
               color: rgb(255, 255, 255);
             }
             .right {
               display: inline-block;
               width: 55%;
               vertical-align: top;
               float: right;
               div {
                 display: inline-block;
                 width: 25.7%;
                 vertical-align: top;
                 text-align: right;
                 padding-top: 44px;
                 margin-left: 40px;
                 &:first-child {
                   display: inline-block;
                   width: 32%;
                   vertical-align: top;
                   text-align: right;
                   padding-top: 41px;
                   margin-left: 40px;
                   margin-right: -40px;
                   z-index: 2;
                 }
                 &:last-child {
                   display: inline-block;
                   width: 32%;
                   vertical-align: top;
                   text-align: right;
                   padding-top: 44px;
                   padding-top: 34px;
                   margin-left: 0;
                 }
                 &.soc a {
                   height: 30px;
                   max-width: 30px;
                   margin: 0 3px;
                 }
                 a {
                   display: inline-block;
                   vertical-align: top;
                   color: white;
                   font-size: 14px;
                   font-family: "Segoe UI Light";
                   color: rgb(255, 255, 255);
                   line-height: 1.571;
                   text-align: left;
                   transition: all .2s ease-in-out;
                   &:hover {
                     opacity: 0.6;
                   }
                   img {
                     height:100%;
                   }
                 }
               }
             }
           }

      }
    }
  }
}