//@import "bootstrap-grid-3.3.1.min";
@import "reset";
//@import "font-awsome";
//@import "fontello";
@import "fonts";
@import "animate";
@import "owl";
//CONSTANTS

$bigFont50: 50px;
$regFont18: 18px;
$regFont22: 22px;
.bigFont50 {
  font-size: $bigFont50;
  font-family: "SegoeUILight", sans-serif;
  color: #333;
  line-height: 1.35;
  margin-bottom: 20px;
}
.midFont22 {
  font-size: $regFont22;
  font-family: "SegoeUIBold", sans-serif;
  text-transform: uppercase;
  color: #333;
  line-height: 1.35;
  text-align: left;
}
.regFont18 {
  font-size: $regFont18;
  font-family: "SegoeUILight", sans-serif;
  color: #747474;
  line-height: 1.35;
  text-align: left;
}
.someButton {
  font-size: $regFont18;
  line-height: 1.35;
  font-family: "SegoeUIBold", sans-serif;
  color: #333;
  text-transform: uppercase;
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.owl-dots .owl-dot {
  span {
    position: relative;
    &:after {
      transform-origin: right;
      transform: scaleX(0);
      content: '';
      position: absolute;
      top:0;
      left:0;
      width: 40px;
      height: 2px;
      background: #000000;
      //margin: 5px 7px;
      display: inline-block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity .2s ease;
      transition: opacity .2s ease;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      transition: transform 0s linear;
    }
  }
  &.active{
    span {
      background: #d6d6d6;
      &:after {
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 3s linear;
      }
    }
  }
  &:hover {
    span {
      background: #d6d6d6;
    }
  }
}
//-------------
//END CONSTANTS
// Custom styles
html, body {
  position: relative;
  height:100%;
}
body {
  font-family: "SegoeUI", sans-serif;
  font-size: 16px;
  a {
    text-decoration: none;
  }
  b {
    font-family: 'SegoeUIBold', sans-serif;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
    .inline-block {
      display: inline-block;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  img {
    width: 100%;
  }
  hr {
    border-color: black;
    margin: 0;
    //padding-top: 10px;
    border: none;
    border-top: 1px solid;
    margin-bottom: 5px;
    &.thin {
      border-color: rgba(32, 35, 39, 0.1);
      margin: 0;
      padding: 0;
    }
  }
  .clearfix {
    clear: both;
  }
//  ---------------
// end custom styles
  .main-wrapper {
    .mobile {
      display: none;
    }
    .wrapper {
      width: 1200px;
      margin: 0 auto;
      padding: 0;
      position: relative;
      z-index: 5;
      &.passive {
        z-index: 4;
      }
    }
    main {
      &.content {
        .box-1 {
          height: 100vh;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          //z-index: 10;
          .bg{
            background-size: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 4;
            img {
              height: 100%;
              width: auto;
            }
          }
          .text{
            padding-top: 29vh;
            z-index: 52;
            width: 1200px;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
            h1{
              font-size: 95px;
              width: 100%;
              font-family: "SegoeUIBold", sans-serif;
              color: rgb(255, 255, 255);
              line-height: 1.2;
              text-align: center;
              margin-bottom: 30px;
            }
            p{
              font-size: 21px;
              width: 50%;
              margin: 0 auto;
              color: rgb(255, 255, 255);
              line-height: 34px;
              text-align: center;
              span{
                border: 2px white solid;
                font-weight: bolder;
                font-size: 20px;
                line-height: 17px;
                padding: 0px 10px 7px 10px;
                font-family: "SegoeUIBold";
                display: inline-block;
              }
            }
          }
        }

      }
    }
    // MAIN_PAGE
    @import "mainPage";

    // PROJECTS_PAGE
    @import "projectsPage";

    // USLUGI_PAGE
    @import "uslugiPage";

    // ABOUT_PAGE
    @import "aboutPage";

    // CASES_PAGE
    @import "casePage";

    // Blog_PAGE
    @import "blogPage";
    @import "blogInnerPage";


    /*HEADER*/
    @import "header";
    /*FOOTER*/
    @import "footer";
  }
}




#hunter {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 100500;
  //overflow: auto;

  .bg {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.7);

  }
  .window {
    display: block;
    position: fixed;
    top:calc(50% - 326px);
    left:calc(50% - 485px);
    width: 970px;
    height: auto;
    background-color: #000;
    .header {
      display: none;
      height: 76px;
      position: relative;
      top: 0;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.2);
      transition: all .3s ease-in-out;
      .left {
        float: left;
        margin-top: 12px;
        .img_logo {
          width: 67px;
          height: 54px;
          overflow: hidden;
        }
      }
      .right {
        float: right;
        margin-top: 23px;
        width: auto;
        .close {
          //position: absolute;
          //right:-40px;
          //top:-35px;
          width:30px;
          height:30px;
          overflow: hidden;
          cursor: pointer;
          svg {
            path {
              //fill: #000;
              //stroke: #000;
            }
          }
        }
      }
    }

    .inner_wrapper {
      position: relative;
      padding-bottom: 0px;

      .close {
        position: absolute;
        right:50px;
        top:53px;
        width:30px;
        height:30px;
        overflow: hidden;
        cursor: pointer;
        svg {
          path {
            //fill: #000;
            //stroke: #000;
          }
        }
      }
      h2 {
        margin-bottom: 30px;
        font-size: 56px;
        font-family: "Segoe UI Light";
        color: rgb(255, 255, 255);
        line-height: 0.85;
        text-align: left;
      }
      h4 {
        margin-bottom: 40px;
        font-size: 23px;
        font-family: "Segoe UI Black";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0.7px;
      }
      form {
        //display: none;
        box-sizing: border-box;
        width:100%;
        padding:40px 50px 50px 50px;
        fieldset {
          //display: flex;
          //justify-content: space-between;
          //flex-wrap: nowrap;
          margin-bottom: 40px;
          p {
            margin-left: -20px;
            font-size: 15px;
            font-family: "Segoe UI Light";
            color: rgb(255, 255, 255);
            line-height: 1;
            text-align: left;
            margin-bottom: 25px;
          }
          label {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            font-family: "Segoe UI Light";
            color: rgb(255, 255, 255);
            line-height: 1.667;
            text-align: left;
            input,textarea {
              font-size: 17px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              background: none;
              outline:none;
              border-radius: 0;
              resize: none;
            }
          }
          &.fields {
            width: 103%;
            label {
              width:33%;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              input {
                width:90%;
                display: block;
                font-size: 17px;
                font-family: "Segoe UI Light";
                color: rgb(255, 255, 255);
                line-height: 1.667;
                text-align: left;
                border: none;
                border-bottom: 1px solid rgba(255,255,255,0.7);
              }
            }
          }
          &.boxes {
            width: 106%;
            margin-left: 20px;
            font-size: 0;
            margin-bottom: 35px;
            input {
              opacity: 0;
              position: absolute;
              vertical-align: middle;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1.667;
              text-align: left;
              background: none;
            }
            label {
              position: relative;
              box-sizing: border-box;
              padding-left: 20px;
              width:25%;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 20px;
              text-align: left;
              &:before {
                content:'';
                position: absolute;
                display: inline-block;
                left:-20px;
                width: 20px;
                height:20px;
                border: 1px solid rgba(255,255,255,0.7);
              }
            }
              input:checked + label{
                  &:before {
                   background-image: url(../img/nice.png);
                    background-repeat: no-repeat;
                    background-position: center;
                  }
              }
          }
          &.text {
            margin-bottom: 33px;
            label {
              width:100%;
              font-size: 15px;
              font-family: "Segoe UI Light";
              color: rgb(255, 255, 255);
              line-height: 1;
              text-align: left;
              textarea {
                margin-top: 18px;
                display: block;
                width: 100%;
                height: 130px;
                font-size: 15px;
                font-family: "Segoe UI Light";
                color: rgb(255, 255, 255);
                line-height: 1.667;
                text-align: left;
              }
            }
          }
        }
        input[type='submit'] {
          padding: 0;
          width:185px;
          font-size: 15.252px;
          font-family: "Segoe UI Bold";
          color: rgb(255, 255, 255);
          line-height: 1;
          padding-bottom: 6px;
          text-align: left;
          background: none;
          border:none;
          position: relative;
          outline:none;
          border-bottom: 1px solid rgba(255,255,255,0.7);
          border-radius: 0;

        }
      }
      .thx {
        display: none;
        width:100%;
        padding: 40px 50px 60px 50px;
        h4 {
          line-height: 2;
          margin-top: -6px;
          margin-bottom: 32px;
        }
        .butts {
          a {
            padding: 0;
            width: 181px;
            font-size: 15.252px;
            font-family: "Segoe UI Bold";
            color: rgb(255, 255, 255);
            line-height: 1.574;
            text-align: left;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              left:0;
              bottom:-5px;
              height:1px;
              background-color: rgba(255,255,255,0.7);
              width:100%;
            }
            &.left {
              float: left;
            }
            &.right {
              float: right;
              text-align: right;
            }
          }
        }
      }
      .popFooter {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          position: absolute;
          bottom: 0;
          height: 110px;
          width: 100%;
           .wrapper {
             width: 90%;
             .left {
               display: inline-block;
               width: 40%;
               vertical-align: top;
               color: white;
               padding-top: 43px;
               font-size: 14px;
               font-family: "Segoe UI Light";
               color: rgb(255, 255, 255);
             }
             .right {
               display: inline-block;
               width: 55%;
               vertical-align: top;
               float: right;
               div {
                 display: inline-block;
                 width: 25.7%;
                 vertical-align: top;
                 text-align: right;
                 padding-top: 44px;
                 margin-left: 40px;
                 &:first-child {
                   display: inline-block;
                   width: 32%;
                   vertical-align: top;
                   text-align: right;
                   padding-top: 41px;
                   margin-left: 40px;
                   margin-right: -40px;
                   z-index: 2;
                 }
                 &:last-child {
                   display: inline-block;
                   width: 32%;
                   vertical-align: top;
                   text-align: right;
                   padding-top: 44px;
                   padding-top: 34px;
                   margin-left: 0;
                 }
                 &.soc a {
                   height: 30px;
                   max-width: 30px;
                   margin: 0 3px;
                 }
                 a {
                   display: inline-block;
                   vertical-align: top;
                   color: white;
                   font-size: 14px;
                   font-family: "Segoe UI Light";
                   color: rgb(255, 255, 255);
                   line-height: 1.571;
                   text-align: left;
                   transition: all .2s ease-in-out;
                   &:hover {
                     opacity: 0.6;
                   }
                   img {
                     height:100%;
                   }
                 }
               }
             }
           }

      }
    }
  }
}