
@media only screen and (min-width : 1240px) and (max-width : 1599px) {

}
/*==========  Desktop First Method  ==========*/
/*******************************/
/*******************************/
@media only screen and (min-width : 1024px) and (max-width : 1239px) {

  body {
    font-size:15px;
    .main-wrapper {
      .wrapper {
        width: 1000px !important;
        margin: 0 auto;
        //padding: 0 5px;
        position: relative;
        z-index: 5;
      }
      main {
        &.content {
          .box-1 {
            .wrapper {
              .text {
                width: 100%;
                h1 {

                }
              }
            }
            .arrow_down {
              display: block;
            }
          }

        }
      }

      #nav {
        .container {
          padding-top: 20vh;

        }
      }
      header {
        .right {
          width: 820px;

        }
      }
      footer {
        .footer {
          div {
            &.logo {
              transform: translateX(150px);
            }
          }
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
/*******************************/
/*******************************/
@media only screen and (min-width : 940px) and (max-width : 1023px) {
  body {
    font-size:15px;
    .main-wrapper {
      .wrapper {
        width: 920px !important;
        padding: 0 10px;
      }
      video, .video_pattern, .sound, .play {
        display: none !important;
      }
      main {
        &.content {
          .box-1 {
            .wrapper {
              .text {
                width: 100%;
                h1 {
                  font-size:65px;
                }
              }
            }
            .arrow_down {
              display: block;
            }
          }
        }
      }
      /**/
      /*NAV*/
      /**/
      #nav {
        .container {
          padding-top: 13vh;
          padding-bottom: 165px;
          padding-left: 0;
          padding-right: 0;
          height: 100vh;
          max-width: none;
          overflow: hidden;
          position: relative;
          >h1 {
            width: 90%;
            margin: 0 auto 40px auto;
          }
          >.nav-list {
            display: block;
            >li {
              width: 88%;
              margin: 0 auto;
              ul {
                display: none;

              }
              h3 {
                width: 100% !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                a {
                  font-size: 20px;

                }
              }

            }
          }
        }
        .foot {
          border: 0;
          .wrapper {
            .left {
              display: none;

            }
            .right {
              display: none;

            }
          }
          div {
            &.icons {
              display: block;
              width: 100%;
              text-align: center;
              margin-top: 40px;
              * {
                display: inline-block;

              }
              a {
                height: 22px;
                margin: 0 7px 15px 7px;
                img {
                  width: auto;
                  height: 100%;
                }
              }
            }
          }
        }
      }
      /**/
      /*header*/
      /**/
      header {
        /*position: absolute;*/
        .wrapper {
          .right {
            width: auto;
          }
        }
      }
      /**/
      /*footer*/
      /**/
      footer {
        background: #000;
        .footer {
          padding: 25px 0 25px 0;
          * {
            display: none;
          }
          >div {
            display: none;
            &.logo {
              display: block;
              transform: none;
              width: 900px;
              text-align: center;
              margin: 0 auto;
            }
            &.icons {
              display: block;
              width: 100%;
              text-align: center;
              * {
                display: inline-block;
              }
              a {
                height: 22px;
                margin: 0 7px 15px 7px;
                img {
                  width: auto;
                  height: 100%;
                }
              }
            }
          }
          .shit {
            display: inline;
            color: white;
            font-size: 12px;
            .copy {
              display: inline;
              color: white;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  #hunter {
    .bg {
      display: none;
    }
    .window {
      display: block;
      position: static;
      top: 0;
      right:0;
      bottom:0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #000;
      overflow-x: hidden;
      .header {
        display: block;
      }
    }
  }
}
/*******************************/
/*******************************/
/* Medium Devices, Desktops */
/*******************************/
/*******************************/
@media only screen and (min-width : 724px) and (max-width : 939px) {

  body {
    font-size: 15px;
    .main-wrapper {
      .wrapper {
        width: 704px !important;
        //padding: 0 10px;
      }
      .mobile {
        display: inline-block;
        &.block {
          display: block;
        }
      }
      .box-1 {
        .bg {
          img {
            margin-left: -45%;
          }
        }
      }
      main {
        &.content {
          .box-1 {
            .wrapper {
              .text {
                width: 100%;
                h1 {
                  font-size:65px;
                }
              }
            }
            .arrow_down {
              display: block;
            }
          }
        }
      }
      /**/
      /*NAV*/
      /**/
      #nav {
        .container {
          padding-top: 13vh;
          padding-bottom: 165px;
          padding-left: 0;
          padding-right: 0;
          height: 100vh;
          max-width: none;
          overflow: hidden;
          position: relative;
          width: 100%;
          > h1 {
            width: 704px;
            margin-left: auto;
            margin-right: auto;
          }
          >li {
            width: 90%;
            margin: 20px auto 40px auto;
            text-align: center;
          }
          >.nav-list {
            display: block;
            >li {
              width: 88%;
              margin: 0 auto;
              ul {
                display: none;
              }
              h3 {
                width: 100% !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                a {
                  font-size: 20px;
                }
              }
            }
          }

        }
        .foot {
          border: 0;
          .wrapper {
            .left, .right {
              display: none;
            }
            div {
              &.icons {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 40px;
                * {
                  display: inline-block;
                }
                a {
                  height: 22px;
                  margin: 0 7px 15px 7px;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
            }
            hr {
              border-color: #fff;

            }
            .sub_line {
              display: block;
              height: 50px;
              line-height:3;
              text-align: center;
              color: #fff;
            }
          }

        }
      }

      /**/
      /*header*/
      /**/
      header {
        /*position: absolute;*/
        background: rgba(255, 255, 255, 1);
        .wrapper {
          .right {
            width: auto;
            > .menu {
              display:none !important;
            }
            > .bars {
              display: block !important;
            }
          }
        }
      }
      /**/
      /*footer*/
      /**/
      footer {
        background: #000;
        .wrapper {
          .footer {
            padding: 15px 0 60px 0;
            position: relative;
            * {
              display: none;

            }
            >div {
              display: none;
              &.logo {
                display: block;
                transform: none;
                width: 700px;
                text-align: center;
                margin: 0 auto;
              }
              &.icons {
                display: block;
                width: 100%;
                text-align: center;
                * {
                  display: inline-block;

                }
                a {
                  height: 22px;
                  margin: 0 7px 15px 7px;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
            }
            .shit {
              display: inline;
              color: white;
              font-size: 12px;
              .copy {
                display: inline;
                color: white;
                font-size: 12px;
              }
            }
          }
          hr {
            width:106%;
            margin-left: -3%;
            border-color: #fff;
          }
          .sub_line {
            position: relative;
            height:50px;
            line-height: 50px;
            display: block;
            color: #fff;
            div.top {
              position: absolute;
              display: block;
              right:0;
              top:calc(50% - 10px);
              * {
                display: block;
              }
              .wrap {
                a {
                  width: 50px;
                  height: 20px;
                  background: url(../img/sprite.png);
                  background-size: 240%;
                  background-position: -120px -69px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  video, .video_pattern, .sound, .play {
    display: none !important;
  }

  #hunter {
    .bg {
      display: none;
    }
    .window {
      display: block;
      position: static;
      top: 0;
      right:0;
      bottom:0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #000;
      overflow-x: hidden;
      .header {
        display: block;
      }
      .inner_wrapper {
        form {
          padding:40px 3% 50px 3%;

          fieldset {
            width: 100% !important;
            > p {
              margin-bottom: 30px;
            }
            label {
              width: 100%;
              margin-bottom: 45px;
            }
            &.fields {
              label {
                width: 100%;
                input{
                  width: 100%;
                }
              }
            }
            &.boxes {
              margin-bottom: 25px;
              label {
                width: 45%;
                margin-bottom: 30px;
              }
            }
          }
        }
        .popFooter {
          .left, .right {
            width:auto !important;
          }
        }
      }
    }
  }
}
/*******************************/
/*******************************/
/* Small Devices, Tablets */
/*******************************/
/*******************************/
@media only screen and (min-width : 480px) and (max-width : 723px) {

  body {
    font-size: 15px;
    .main-wrapper {
      .wrapper {
        width: 94% !important;
        //padding: 0 5px;
      }
      .box-1 {
        .bg {
          img {
            margin-left: -45%;
          }
        }
      }
      main {
        &.content {
          .box-1 {
            .wrapper {
              .text {
                width: 100%;
                h1 {
                  font-size:45px;
                }
              }
            }
            .arrow_down {
              display: block;
            }
          }
        }
      }
      .mobile {
        display: inline-block;
        &.block {
          display: block;
        }
      }
      /**/
      /*NAV*/
      /**/
      #nav {
        .container {
          padding-top: 13vh;
          padding-bottom: 75px;
          padding-left: 0;
          padding-right: 0;
          height: 100vh;
          max-width: none;
          overflow: scroll;
          position: relative;
          width: 100%;
          >h1 {
            width: 90%;
            margin: 20px auto 50px auto;
            text-align: center;
          }
          >.nav-list {
            display: block;
            >li {
              width: 88%;
              margin: 0 auto;
              ul {
                display: none;
              }
              h3 {
                width: 100% !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                a {
                  font-size: 20px;
                }
              }
            }
          }

        }
        .foot {
          border: 0;
          height:75px;
          .wrapper {
            .left, .right {
              display: none;

            }
            div {
              &.icons {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 0px;
                * {
                  display: inline-block;
                }
                a {
                  height: 22px;
                  margin: 0 7px 15px 7px;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
            }
            hr {
              border-color: #fff;
            }
            .sub_line {
              display: block;
              height: 50px;
              line-height: 1.5;
              text-align: center;
              color: #fff;
              font-size: 2em;
            }
          }

        }
      }

      /**/
      /*header*/
      /**/
      header {
        /*position: absolute;*/
        height: 55px;
        background: rgba(255, 255, 255, 1);
        .left {
          margin-top: 10px;
          .img_logo {
            width: 42px;
          }
        }
        .right {
          margin-top: 15px;
          width: auto;
          > .menu {
            display:none !important;
          }
          > .bars {
            display: block !important;
          }
          div {
            &.home {
              text-align: left;
              padding-right: 0;
              border-right: none;
              margin-top: -3px;
              span {
                font-family: "Segoe UI Bold";
                font-size: 24px;
                &:last-child {
                  display: none;
                }
              }
            }
            &.bars {
              margin-left: 5px;

            }
          }
        }
      }
      /**/
      /*footer*/
      /**/
      footer {
        background: #000;
        .wrapper {
          .footer {
            padding: 15px 0 60px 0;
            position: relative;
            * {
              display: none;
            }
            >div {
              display: none;
              &.logo {
                display: block;
                transform: none;
                width: 400px;
                text-align: center;
                margin: 0 auto;
              }
              &.icons {
                display: block;
                width: 100%;
                text-align: center;
                * {
                  display: inline-block;
                }
                a {
                  height: 22px;
                  margin: 0 7px 15px 7px;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
            }
            .shit {
              display: inline;
              color: white;
              font-size: 12px;
              .copy {
                display: inline;
                color: white;
                font-size: 12px;
              }
            }
          }
          hr {
            width:106%;
            margin-left: -3%;
            border-color: #fff;
          }
          .sub_line {
            position: relative;
            height:50px;
            line-height: 50px;
            display: block;
            color: #fff;
            div.top {
              position: absolute;
              display: block;
              right:0;
              top:calc(50% - 10px);
              * {
                display: block;
              }
              .wrap {
                a {
                  width: 50px;
                  height: 20px;
                  background: url(../img/sprite.png);
                  background-size: 240%;
                  background-position: -120px -69px;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      #hunter {
        .bg {
          display: none;
        }
        .window {
          display: block;
          position: static;
          top: 0;
          right:0;
          bottom:0;
          left: 0;
          width: 100%;
          height: auto;
          background-color: #000;
          overflow-x: hidden;
          .header {
            display: block;
          }
          .inner_wrapper {
            form {
              padding:40px 3% 50px 3%;

              fieldset {
                width: 100% !important;
                > p {
                  margin-bottom: 30px;
                }
                label {
                  width: 100%;
                  margin-bottom: 45px;
                }
                &.fields {
                  label {
                    width: 100%;
                    input{
                      width: 100%;
                    }
                  }
                }
                &.boxes {
                  margin-bottom: 25px;
                  label {
                    width: 45%;
                    margin-bottom: 30px;
                  }
                }
              }
            }
            .popFooter {
              .left, .right {
                width:auto !important;
                float: none !important;
                display: block !important;
                text-align: center;
              }
              .left {
                padding: 20px 0 10px 0 !important;
              }
              .right {
                >div {
                  display: block !important;
                  width: 100% !important;
                  margin: 0px auto !important;
                  padding: 5px 0 !important;
                  text-align: center !important;
                  &.phone {
                    a {
                      display: inline-block !important;
                      width: 100% !important;
                      text-align: center;
                    }
                  }
                }
              }
            }
            .thx .butts a {
              width: 45%;
            }
          }
        }
      }
    }
  }
  video, .sound, .play {
    display: none !important;
  }


}
/*******************************/
/*******************************/
/* Extra Small Devices, Phones */
/********************************/
/********************************/
@media only all and (max-width : 479px) {
  #hunter {
    .bg {
      display: none;
    }
    .window {
      display: block;
      position: static;
      top: 0;
      right:0;
      bottom:0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #000;
      overflow-x: hidden;
      .header {
        display: block;
      }
    }
  }

  body {
    font-size: 15px;
    .main-wrapper {

      .wrapper {
        width: 94% !important;
        max-width: 470px;
        //padding: 0 5%;
      }
      .box-1 {
        .bg {
          img {
            margin-left: -45%;
          }
        }
      }
      main {
        &.content {
          .box-1 {
            .wrapper {
              .text {
                width: 100%;
                h1 {
                  font-size:40px;
                }
              }
            }
            .arrow_down {
              display: block;
            }
          }
        }
      }
      .mobile {
        display: inline-block;
        &.block {
          display: block;
        }
      }
      /**/
      /*NAV*/
      /**/
      #nav {
        .container {
          padding-top: 13vh;
          padding-bottom: 165px;
          padding-left: 0;
          padding-right: 0;
          height: 100vh;
          max-width: none;
          overflow: hidden;
          position: relative;
          width: 100%;
          >h1 {
            width: 90%;
            margin: 20px auto 50px auto;
            text-align: center;
          }
          >.nav-list {
            display: block;
            >li {
              width: 75%;
              margin: 0 auto;
              ul {
                display: none;
              }
              h3 {
                width: 100% !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                a {
                  font-size: 20px;
                }
              }
            }
          }
        }
        .foot {
          border: 0;
          .wrapper {
            .left, .right {
              display: none;
            }
            div {
              &.icons {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 30px;
                * {
                  display: inline-block;
                }
                a {
                  height: 22px;
                  margin: 0 7px 15px 7px;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
            }
            hr {
              border-color: #fff;
            }
            .sub_line {
              display: block;
              height: 50px;
              line-height:3;
              text-align: center;
              color: #fff;
              font-size: 2em;
            }
          }

        }
      }
      /**/
      /*header*/
      /**/
      header {
        /*position: absolute;*/
        height: 55px;
        background: rgba(255, 255, 255, 1);
        .left {
          margin-top: 10px;
          .img_logo {
            width: 42px;
          }
        }
        .right {
          margin-top: 15px;
          width:auto;
          > .menu {
            display:none !important;
          }
          > .bars {
            display: block !important;
          }
          div {
            &.home {
              text-align: left;
              padding-right: 0;
              border-right: none;
              margin-top: -3px;
              span {
                font-family: "Segoe UI Bold";
                font-size: 19px;
                &:last-child {
                  display: none;
                }
              }
            }
            &.bars {
              margin-left: 5px;
            }
          }
        }
      }
      /**/
      /*footer*/
      /**/
      footer {
        background: #000;
        .wrapper {
          .footer {
            padding: 15px 0 60px 0;
            position: relative;
            * {
              display: none;
            }
            >div {
              display: none;
              &.logo {
                display: block;
                transform: none;
                width: 250px;
                text-align: center;
                margin: 0 auto;
              }
              &.icons {
                display: block;
                width: 100%;
                text-align: center;
                * {
                  display: inline-block;
                }
                a {
                  height: 22px;
                  margin: 0 7px 15px 7px;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
            }
            .shit {
              display: inline;
              color: white;
              font-size: 12px;
              .copy {
                display: inline;
                color: white;
                font-size: 12px;
              }
            }
          }

          hr {
            width:106%;
            margin-left: -3%;
            border-color: #fff;
          }
          .sub_line {
            position: relative;
            height:50px;
            line-height: 50px;
            display: block;
            color: #fff;
            div.top {
              position: absolute;
              display: block;
              right:0;
              top:calc(50% - 10px);
              * {
                display: block;
              }
              .wrap {
                a {
                  width: 50px;
                  height: 20px;
                  background: url(../img/sprite.png);
                  background-size: 240%;
                  background-position: -120px -69px;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      #hunter {
        .bg {
          display: none;
        }
        .window {
          display: block;
          position: static;
          top: 0;
          right:0;
          bottom:0;
          left: 0;
          width: 100%;
          height: auto;
          background-color: #000;
          overflow-x: hidden;
          .header {
            display: none;
          }
          .inner_wrapper {
            .close {
              top:3.8%;
              right: 3%;
            }
            form {
              padding:30px 3% 50px 3%;

              fieldset {
                width: 100% !important;
                > p {
                  margin-bottom: 30px;
                }
                label {
                  width: 100%;
                  margin-bottom: 45px;
                }
                &.fields {
                  label {
                    width: 100%;
                    input{
                      width: 100%;
                    }
                  }
                }
                &.boxes {
                  margin-bottom: 25px;
                  label {
                    width: 90%;
                    margin-bottom: 30px;
                  }
                }
              }
            }
            .popFooter {
              .left, .right {
                width:auto !important;
                float: none !important;
                display: block !important;
                text-align: center;
              }
              .left {
                padding: 20px 0 10px 0 !important;
              }
              .right {
                >div {
                  display: block !important;
                  width: 100% !important;
                  margin: 0px auto !important;
                  padding: 5px 0 !important;
                  text-align: center !important;
                  &.phone {
                    a {
                      display: inline-block !important;
                      width: 100% !important;
                      text-align: center;
                    }
                  }
                }
              }
            }
            .thx .butts a {
              width: 45%;
            }
          }
        }
      }
    }
  }
  video, .sound, .play {
    display: none !important;
  }


}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
body {
    @import "mediaMain";
    @import "mediaProjects";
    @import "mediaUslugi";
    @import "mediaAbout";
    @import "mediaBlog";
    @import "mediaCase";
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
